html, body {
    /* background: chocolate; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 400px;
}

header {
    /* background: red; */
    padding-right: 0.5rem;
    position: relative;
}

header ul {
    float: right;
}

.header-main-li {
    padding: 0.4rem;
    margin-left: 0.4rem;
}

#header-grid {
    display: none;
    position: absolute;
    border-radius: 20px;
    padding: 6px;
    margin-top: 55px;
    right: 25px;
    width: 320px;
    height: 400px;
    background: rgb(226, 226, 226);
}

#header-grid-container {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

#header-grid-background {
    width: calc(100% - 6px);
    height: 1260px;
    background: white;
    border-radius: 20px;
    padding-top: 26px;
}

#header-grid-container::-webkit-scrollbar {
    width: 10px;
}

#header-grid-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}

#header-grid-container::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 32px;
    margin-bottom: 32px;
}

#header-grid-button {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 125px;
    height: 35px;
    border-radius: 18px;
    background: white;
    border: 2px solid rgb(214, 214, 214);
    transition: 0.4s;
}

#header-grid-button:hover {
    background: rgb(233, 233, 233);
}

.header-grid-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 16px;
}

.header-grid-item {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.header-grid-item:hover {
    background: rgb(236, 236, 236);
    z-index: 1;
    height: auto;

    .header-text {
        white-space: wrap;
        overflow: show;
        text-overflow: none;
        overflow-wrap: break-word;
    }
}

.header-icon {
    width: 50px;
}

.header-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.header-grid-google, .header-grid-office {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.header-grid-google {
    border-bottom: 5px solid #dbdbdb;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#header-grid-icon {
    width: 24px;
}

main {
    /* background: green; */
    width: 100%;
    height: 100%;
    min-height: 350px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: yellowgreen; */
    margin-top: 70px;
    margin-bottom: 30px;
}

main #buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-button {
    padding: 10px;
    width: 150px;
    margin: 10px;
    border-radius: 0.3rem;
}

#search-logo {
    width: 300px;
}

#search-wrapper {
    margin-top: 25px;
}

footer {
    background: rgb(238, 238, 238);
}

#country {
    /* background: blue; */
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    padding: 0.8rem;
    border-bottom: 2px solid #dbdbdb;
}

#about {
    /* background: aqua; */
    display: flex;
    flex-wrap: wrap;
    padding: 0.4rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

#how-to-use {
    /* background: yellow; */
    flex: 1 1 410px;
}

#configs {
    /* background: yellowgreen; */
    justify-content: right;
}

#how-to-use li, #configs li {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (max-width: 920px) {
    #about {
        flex-direction: column;
    }

    #how-to-use {
        /* background: red; */
        flex: 1 1 10px;
    }

    #how-to-use, #configs {
        flex-wrap: wrap;
        justify-content: center;
    }
}