html, body {
    /* background: chocolate; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 1220px;
}

header {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: yellow;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

#search-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 850px;
}

#search-input {
    width: 100%;
    height: 40px;
}

#icons {
    flex: 0.6;
}

#icons ul {
    display: flex;
    flex-direction: row;
    float: right;
}

#icons ul li :last-child {
    margin-left: 0.4rem;
}

#search-header a {
    margin-right: 40px;
}

header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header a, header img {
    height: 75%;
    background: yellow;
}

main {
    display: flex;
    flex-direction: column;
    background: red;
    height: 100%;
    width: 100%;
    padding-left: 200px;
}

#main-header {
    display: flex;
    flex-direction: column;
    height: 100px;
    background: orange;
}

#main-result {
    display: flex;
    flex-direction: row;
    flex: 1;
    background: blue;
}

#main-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding-right: 40px;
    background: gainsboro;
}

#main-list-left {
    display: flex;
    flex-direction: row;
}

#main-header-abas {
    margin-right: 240px;
}

#main-header-abas li {
    margin-left: 10px;
}

#main-similar {
    display: flex;
    flex-direction: row;
    flex: 1;
    background: brown;
    margin-right: 200px;
}

#main-similar-ul {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    /* display: inline;
    display: flex;
    flex-direction: row; */
    white-space: nowrap;
    height: 100%;
    gap: 20px;
}

#main-similar-ul.dragging {
    cursor: grab;
}

#main-similar-ul.dragging li {
    pointer-events: none;
}

.angle-right-container, .angle-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: greenyellow;
    width: 80px;
}

#angle-right, #angle-left {
    width: 40px;
    height: 40px;
    padding: 5px;
    background: yellow;
    border-radius: 20px;
}

.angle-right-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#main-similar-ul li {
    display: flex;
    background: yellow;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px;
}

#main-similar-ul li:first-child {
    background: red;
}

#main-similar-ul li:last-child {
    background: red;
}

#main-left {
    width: 700px;
    background: green;
}

#main-right {
    flex: 1;
    background: aqua;
}

@media (max-width: 1300px) {
    main, header {
        background: cadetblue;
        padding-left:  calc((100vw - 1180px));
    }

    #main-header-abas {
        margin-right: 290px;
    }

    #search-header {
        width: 720px;
    }
}

@media (max-width: 1200px) {
    main, header {
        background: red;
        padding-left:  18px;
    }
}