html, body {
    /* background: chocolate; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 1220px;
}

header {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* background: yellow; */
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}

#search-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 850px;
}

#search-input {
    width: 100%;
    height: 40px;
}

#icons {
    flex: 0.6;
}

#icons ul {
    display: flex;
    flex-direction: row;
    float: right;
}

#icons ul li :last-child {
    margin-left: 0.4rem;
}

#search-header a {
    margin-right: 40px;
}

header a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header a, header img {
    height: 75%;
    /* background: yellow; */
}

main {
    display: flex;
    flex-direction: column;
    /* background: red; */
    height: 100%;
    width: 100%;
    padding-left: 200px;
}

#main-header {
    display: flex;
    flex-direction: column;
    height: 100px;
    /* background: orange; */
}

#main-result {
    display: flex;
    flex-direction: row;
    flex: 1;
    /* background: blue; */
}

#main-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    padding-right: 40px;
    /* background: gainsboro; */
}

#main-list-left {
    display: flex;
    flex-direction: row;
}

#main-header-abas {
    margin-right: 240px;
    height: 30px;
}

#main-header-abas li {
    margin-left: 15px;
}

#main-similar {
    display: flex;
    flex-direction: row;
    height: 50px;
    /* flex: 1; */
    /* background: brown; */
    margin-right: 200px;
}

#main-similar-ul {
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
    white-space: nowrap;
    height: 100%;
    gap: 20px;
}

#main-similar-ul.dragging {
    cursor: grab;
}

#main-similar-ul.dragging li {
    pointer-events: none;
}

.angle-right-container, .angle-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110px;
}

.angle-right-container {
    background: linear-gradient(to right, transparent, white);
}

.angle-left-container {
    background: linear-gradient(to left, transparent, white);
}

#angle-right, #angle-left {
    width: 35px;
    height: 35px;
    padding: 5px;
    /* margin: 5px; */
    border: 2px solid #dbdbdb;
    border-radius: 20px;
}

.angle-right-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#main-similar-ul li {
    display: flex;
    border: 2px solid #dbdbdb;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px;
}

#main-similar-ul li:hover, #angle-right:hover, #angle-left:hover {
    background: #e4e4e4;
}

#main-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    /* background: orange; */
}

#main-right {
    flex: 1;
    /* background: aqua; */
}

#about {
    /* background: red; */
    width: 400px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid #dbdbdb;
}

#about-header, #about-text {
    padding: 10px;
}

#about-header {
    border-bottom: 2px solid yellow;
}

@media (max-width: 1300px) {
    main, header {
        /* background: cadetblue; */
        padding-left:  calc((100vw - 1180px));
    }

    #main-header-abas {
        margin-right: 290px;
    }

    #search-header {
        width: 720px;
    }
}

@media (max-width: 1200px) {
    main, header {
        /* background: red; */
        padding-left:  18px;
    }
}